@import "normalize.css";
@import "monokai.css";

:root {
  --var-text-color: black;
}

body {
  font-size: 1.4rem;
  font-family: Georgia, serif;
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
}

.site,
.site:visited {
  font-size: 3em;
}

header a,
header a:visited {
  color: var(--var-text-color);
  text-decoration: none;
}

p {
  line-height: 1.4em;
}

a {
  color: blue;
}

a:visited {
  color: gray;
}

pre.highlight {
  padding: 1em;
  font-size: 1rem;
}

